.animated-text {
  position: relative;
  display: inline-block;

  &__overlay {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    white-space: nowrap;
  }
}