* {
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

input,
button,
textarea {
	font-family: inherit;
	background: transparent;
}

input::-ms-clear {
	display: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
	appearance: textfield;
	appearance: none;
}

button {
	cursor: pointer;
	// transition: var(--link-transition);
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	&:visited {
		text-decoration: none;
		// transition: var(--link-transition);
	}

	&:focus,
	&:active {
		outline: none;
	}
}

li {
	list-style-type: none;
}

ul li {
	list-style: none;
}

img {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

html,
body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	// font-family: var(--general-font), serif;
	font-size: 100%;
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	// color: var(--white, white);
	// background: var(--grey-bg, black);
	user-select: none;
	touch-action: manipulation;
	text-size-adjust: 100%;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

#root {
	height: 100%;
}

.animate-show {
	animation: show 0.2s linear forwards;
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
