:root {
	--white: #fff;
	--primary: #12f7d6;
	--text: #EDEDED;
	--accent: #A64AC9;
	--bg: #251C31;
	--bg-light: #1A1E23;
	--grey: #43454d;
	--brand: #98faec;
	--black: #1a1e23;
	--blue: #0c73b8;
	--blue-light: #28a9e0;
	--red: #e54f26;
	--yellow: #e7a020;
	--selected: #f28df1;
}