@use '@/styles/global' as *;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: var(--font-regular);
	color: var(--text);
	background-color: var(--bg);
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	width: 100%;
	max-width: 1920px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

a {
	font-weight: var(--font-medium);
	color: transparent;
	text-decoration: inherit;
	background: var(--text-gradient);
	background-position: right center;
	background-size: 200% 100%;
	-webkit-background-clip: text;
	background-clip: text;
	transition: background-position 0.3s ease-in-out;
	-webkit-text-fill-color: transparent;

	@media (hover: hover) {
		&:hover {
			background-position: left center;
		}
	}
}

body {
	@include fontStyle(16, 29, var(--font-regular));
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	place-items: center;

	&::selection {
		color: var(--white);
		background-color: var(--selected);
	}

	@media (prefers-color-scheme: dark) {
		&::selection {
			background-color: var(--blue);
		}
	}
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	cursor: pointer;
	padding: 0.6em 1.2em;
	border: 1px solid transparent;
	border-radius: 8px;
	font-family: inherit;
	font-size: 1em;
	font-weight: 500;
	color: var(--text);
	background-color: var(--bg);
	transition: border-color 0.25s;
}

button:hover {
	border-color: var(--accent);
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: var(--text);
		background-color: var(--bg);
	}
}