@use '@/styles/global' as *;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: var(--font-regular);
	color: var(--text);
	background-color: var(--bg);
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: var(--font-medium);
	color: var(--blue-light);
	text-decoration: inherit;
	transition: color 0.2s ease-in-out;

	&.no-animated {
		@media (hover: hover) {
			&:hover {
				color: var(--accent);
			}
		}
	}
}

body {
	@include fontStyle(16, 29, var(--font-regular));
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	place-items: center;

	&::selection {
		color: var(--white);
		background-color: var(--selected);
	}
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	cursor: pointer;
	padding: 0.6em 1.2em;
	border: 1px solid transparent;
	border-radius: 8px;
	font-family: inherit;
	font-size: 1em;
	font-weight: 500;
	color: var(--text);
	background-color: var(--bg);
	transition: border-color 0.25s;
}

button:hover {
	border-color: var(--accent);
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: var(--text);
		background-color: var(--bg-light);
	}
}