$breakpoints: (
	xxl: 1920px,
	xl: 1680px,
	lx: 1500px,
	lg: 1320px,
	md: 1025px,
	sm: 768px,
	xs: 576px,
	xxs: 375px,
);

@mixin media-up($breakpoint) {
	@if keys($breakpoints, $breakpoint) {
		$breakpoint-value: get($breakpoints, $breakpoint);

		@media (min-width: $breakpoint-value) {
			@content;
		}
	} @else {
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}

@mixin media-down($breakpoint) {
	@if keys($breakpoints, $breakpoint) {
		$breakpoint-value: get($breakpoints, $breakpoint);

		@media (max-width: ($breakpoint-value - 1)) {
			@content;
		}
	} @else {
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}
